
#tab-first {
    border: none !important;
    ;
    outline: none !important;
}

.wrap {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
    margin-top: 20px;
    padding: 20px !important;
}

.wrap div {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrap *:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.content-overflow {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-overflow::-webkit-scrollbar {
    width: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {}

/** upload icon*/
.my-avatar-uploader {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.my-avatar-uploader:hover {
    border-color: #409EFF;
}

.my-avatar-uploader .avatar-uploader-icon {
    font-size: 50px;
    color: #8c939d;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 210px;

}

.my-avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.sr-upload-demo {
    position: relative;
    height: 100%;
    width: 100%;
}

.sr-upload-demo .el-upload {
    position: absolute;
    z-index: 99;
    border: 0px !important;
    background: none;
    width: 100%;
}

.sr-upload-demo .el-upload .el-upload-dragger {

    border: 0px !important;
    background: none;
    width: 100%;
    height: 100%;
}

.sr-upload-demo .el-icon-close {
    position: absolute;
    z-index: 999;
    display: block;
}

.upload-demo {
    position: relative;
}

.upload-demo .el-upload {
    position: absolute;
    z-index: 99;
    border: 0px !important;
    background: none;
    width: 100%;
}

.upload-demo .el-upload .el-upload-dragger {

    border: 0px !important;
    background: none;
    width: 100%;
    height: 100%;
}

.upload-demo .el-icon-close {
    position: absolute;
    z-index: 999;
    display: block;
}


#app {
    overflow: scroll;
}

.margin-left-3 {
    margin-left: 3px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 3px !important;
}

.mt-10 {
    margin-top: 10px;
}

.mb-3 {
    margin-bottom: 3px;
}

.large-btn {
    width: 100%;
}


.drag-box {
    display: flex;
    user-select: none;
}

.drag-box-item {
    flex: 1;
    background-color: #eff1f5;
    margin-right: 16px;
    border-radius: 6px;
    border: 1px #e1e4e8 solid;
}

.item-title {
    padding: 8px 8px 8px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    font-weight: 600;
}

.item-ul {
    padding: 0 8px 8px;
    max-height: 1000px;
    overflow-y: scroll;
}

.item-ul::-webkit-scrollbar {
    width: 0;
}

.overflow-text {
    display: block;
    color: #606266;
    overflow: hidden;
    max-width: 250px;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;
    line-height: 30px;
}

.drag-list {
    border: 1px #e1e4e8 solid;
    padding: 10px;
    margin: 5px 0 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: border .3s ease-in;
    transition: border .3s ease-in;
}

.drag-list:hover {
    border: 1px solid #20a0ff;
}

.drag-title {
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0;
    font-size: 22px;
    color: #1f2f3d;
}

.ghost-style {
    display: block;
    color: transparent;
    border-style: dashed
}

.main-conf-form .input-with-select .el-input {
    width: 100px;
}


.main-conf-form .input-with-select .el-button {
    width: 100px;
}

.el-message-box {
    z-index: 99999;
    position: relative;
}

.min-with-80 {
    width: 80px;
}

.el-upload--text {
    border: 0;
}

.third-box {
    margin-top: 10px;
}

.third-box .box-card {
    background: #eff1f5;
}

.third-box .el-card__body {
    padding: 10px;
}

.third-box .content-overflow {
    background: white;
    height: 460px;
    margin-top: 5px;
    border-radius: 5px;
}

.third-box .box-operator {
    margin-top: 15px;
}

.third-box .upload-demo,
.el-upload {
    width: 100%;
    height: 100%;
}

.third-box .upload-demo .el-icon-close {
    position: absolute;
    z-index: 999;
    display: block;
}

.third-box .upload-demo .el-upload-list__item-status-label {
    z-index: 998;
    display: none;
}

.third-box .special-input {
    width: auto;
}

.third-box .search {
    width: 130px;
}

.third-box .s-input {
    width: 100%;
}

.third-box .s-radio {
    width: 100%;
    height: auto;
}

.third-box .s-radio .el-radio__label:before,
.third-box .s-radio .el-radio__label:after {
    display: table;
    content: "";
}

.third-box .s-radio .el-radio__label:after {
    clear: both;
}


.third-box .padding-lr-5 {
    padding: 0 5px;
}

.third-box .t-close {
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
}

.third-box .t-close i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.third-box .box-card-title {
    display: block;
    position: absolute;
    top: -9px;
    z-index: 999;
    background: white;
}

.third-box .folder-content {
    border-radius: 5px;
    border: 1px solid #8080805e;
    height: 450px;
    overflow: scroll;
    margin-top: 10px;
}

.third-box .folder-select-title {
    font-weight: bold;
}

.wrap-card .el-card__header {
    padding: 10px 10px;
}

.cb-his-card-header {
    font-weight: bold;
}

.my-editor {
    background: #2d2d2d;
    color: #ccc;

    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
}

.prism-editor__textarea:focus {
    outline: none;
}

.height-300 {
    height: 300px;
}

.prism-editor-wrap {
    width: 500px;
    height: 500px;
}

.prism-editor-wrapper .prism-editor__line-numbers {
    height: auto !important;
}

.upload-file-name-fmt {
    width: 200px;
    overflow: hidden;
    display: inline-block;

    line-height: 22px;
    height: 18px;
}

.el-input__inner,
.el-textarea__inner,
.box-card {
    border: 1px solid rgba(47, 48, 51, 0.36) !important
}


.template-form .el-textarea__inner {
    width: 100%;
}


.template-form .min-width-256 {
    min-width: 256px;
}

.template-form .input-with-select .el-input--suffix {
    width: 80px;
}


.template-form .input-with-select .el-button {
    width: 80px;
}

.template-form .el-select {
    width: 100%;
}



.template-dialog  .s-input {
    width: 100%;
}

.template-dialog  .s-radio {
    width: 100%;
    height: auto;
}

.template-dialog  .s-radio .el-radio__label:before,
.template-dialog  .s-radio .el-radio__label:after {
    display: table;
    content: "";
}

.template-dialog  .s-radio .el-radio__label:after {
    clear: both;
}